Source: crowdos-data
Section: misc
Priority: optional
Build-Depends: debhelper (>= 9)
Maintainer: Mohammed Sameer <msameer@foolab.org>
Standards-Version: 3.9.5

Package: crowdos-backgrounds
Provides: backgrounds
Architecture: any
Description: Backgrounds for CrowdOS
 Backgrounds for CrowdOS

Package: crowdos-icons
Provides: icons
Architecture: any
Description: Icons for CrowdOS
 Icons for CrowdOS
